@import "fonts";
@import "variables";
@import "mixins";

// Styles
body {
  font-family: "Ubuntu", sans-serif;

  &::before {
    content: "";
    background-image: url(../img/bg2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50vmax;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -999;

    @media screen and (max-width: 992px) {
      opacity: 0.8;
    }
  }
}

.custom-nav {
  margin-top: 2em;

  .navbar-brand {
    color: $secondaryColor;

    @media screen and (max-width: 992px) {
      text-shadow: 1px 1px 2px rgba($darkenColor, 0.3);
    }

    span {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  #navbarNav {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: white;
          border-bottom: 1px solid transparent;
          margin-left: 1rem;
          transition: 0.3s ease;

          &:hover {
            border-bottom: 1px solid white;

            @media screen and (max-width: 992px) {
              border-bottom: 1px solid $darkenColor;
            }
          }

          @media screen and (max-width: 992px) {
            color: $darkenColor;
          }
        }

        .sign-up-button {
          @include button(white, $darkenColor, default, 700);

          &:hover {
            @include hover-button(white, $darkenColor, 2px solid $darkenColor);
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    margin-top: 1em;
  }
}

.custom-section {
  margin-top: 5em;

  h2 {
    color: $darkenColor;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 0.5em;
  }

  p {
    color: $lightenColor;
    font-weight: 400;
    font-size: 1rem;
  }

  .get-started {
    @include button();

    &:hover {
      @include hover-button();
    }
  }

  .or-contact {
    color: $primaryColor;
    font-size: 1.1rem;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid $primaryColor;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 2em;
    text-align: center;

    h2,
    p {
      text-shadow: 1px 1px 2px rgba($darkenColor, 0.3);
    }
  }
}

.footer {
  margin-top: 8em;

  p {
    color: $darkenColor;
  }

  a {
    color: $secondaryColor;
    text-decoration: none;
  }
}
